@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

nav {
    font-family: 'Montserrat';
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFB200;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFB200;
}

/*floating the nav buttons left*/
nav li {
    float: left;
}

/*setting the display and changing the color of font white and setting up alignment*/
nav li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*making the position stay*/
nav li ul {
    display: none;
    position: absolute;
}

/*changing the width of the second unordered list*/
nav ul li ul {
    width: 170px;
}

/*setting tthe size of of the list items inside*/
nav ul li ul li {
    width: 170px;
    text-align: center;
    display: block;
}

/*when hovered over the links appear*/
li:hover ul {
    display: block;
    height: auto;
}

/*when the li is hovered over the color changes*/
li a:hover {
    color: #000000;
    background-color: #ffffff;
}

header{
    background-color: black;
    height: 170px;
    font-family: 'Montserrat';
}

header h1{
    font-size: 44px;
    color: #FFB200;
    text-shadow: 2px 2px rgb(255, 255, 255, .9);
    padding-top: 40px;
}

.tux{
    width: 120px;
    padding: 20px;
    float: left;
}

#menu{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.mascot{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

main{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(228, 228, 228);
    font-family: 'Ubuntu Mono';
    padding-bottom: 40px;
}

.space{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#add-ons{
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(189, 189, 189);
}

#add-ons ul{
    list-style-type: none;
}
h2{
    font-size: 25px;
    font-family: 'Montserrat';
}

.fix{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.emphasize{
    font-weight: bolder;
    font-size: 16px;
}

.service img{
    width: 250px;
    float: left;
    padding: 20px;
}

hr{
    border: 2px solid black;
}

strong{
    font-weight: bolder;
}

.active{
    background-color: white;
}
.service{
    display: inline-block;
}

.bashintro img{
    display: block;
    margin: 0 auto;
    width: 70%;
}

.theMeat img{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.history img{
    width: 100%;
}

.files img{
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.mainTitle{
    text-align: center;
}

.mainTitle h1{
    font-size: 60px;
    font-family: monospace;
}

.target img{
    display: block;
    margin: 0 auto;
    width: 40%;
}

.mint img{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.qa .service{
    display: inline-block
}

.qa img {
    height: auto;
    float: left;
}

@media only screen and (max-width: 870px)  {


    main, #menu{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mascot{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .bashsections img, .bashcommands img{
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    .mint img{
        width: 90%;
    }

    .files img{
        width: 90%;
    }

}
@media only screen and (max-width: 620px)  {

    /*making the width of the nav button full size*/
    nav ul li {
        width: 100%;
    }

    /*making the items in the nav full size*/
    nav ul li ul {
        width: 100%;
    }

    /*making the items in the nav full size*/
    nav ul li ul li {
        width: 100%;
        text-align: center;
        display: block;
        border: 1px solid black;
    }

    .hide{
        display: none;
    }
    .back{
        width: 100%;
        background-color: #FFB200;
    }

    .square{
        display: inline-block;
        margin-left: 10px;
    }

    .bar1, .bar2, .bar3{
        width: 35px;
        height: 5px;
        background-color: #000000;
        margin: 6px 0;
    }
    .mascot{
        width: 100%;
    }
}
