@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

#pagewrap{
    width: 1000px;
    border: 1px solid black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#contain{
    background-color: lightgray;
}

header{
    background-color: black;
    padding: 1px 0px 1px;
}

nav{

}

main{
    margin: 1px 50px 1px;
}

footer{

}

header h1{
    font-size: 60px;
    color: #FFB200;
    text-shadow: 2px 2px rgb(255, 255, 255, .9);
}

h1{
    font-family: 'Montserrat';
}

#tux{
    width: 100px;
    margin: 20px;
    float: left;
}